{{>partials/header}}
<section>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur repudiandae maiores laborum voluptatum cupiditate enim ducimus vel quibusdam nobis corrupti explicabo, velit delectus similique, dolor impedit libero quos ab ullam!</p>
    </section>

</body>
</html>
{{>partials/footer}}