{{>partials/header}}


<section>
        Ou seu imbecil, {{user}} tá fazendo o que aqui?

        {{#showage}}
            Você é corno
        {{/showage}}

        {{#movies}}

        <ul>
            <li> {{title}} - {{year}} </li>
        </ul>
        {{/movies}}
    </section>

</body>
</html>

{{>partials/footer}}