{{partials/header}}


<h1>What´s your name?</h1>
<form method="GET">
    <input type="text" name="name" placeholder="Input your name">
    <br>
    <button type="submit">Enviar</button>
</form>




{{#name}}
Fala {{name}}, você é corno!
{{/name}}

{{partials/footer}}